services:
  demasylabs-oracle-database:
    image: container-registry.oracle.com/database/free:latest
    container_name: oracle-al-database-26ai
    command: >
      bash -c "
        mkdir -p /opt/oracle/oradata/FREE/DEMASYLABS_PDB &&
        chown oracle:oinstall /opt/oracle/oradata/FREE/DEMASYLABS_PDB &&
        chmod 755 /opt/oracle/oradata/FREE/DEMASYLABS_PDB &&
        exec /opt/oracle/runOracle.sh
      "
    ports:
      - "${ENV_DB_PORT_LISTENER}:1521"
      - "${ENV_DB_PORT_EM}:5500"
    environment:
      - TZ=${ENV_TIME_ZONE}
      - DATABASE_NAME=${ENV_DB_NAME}
      - ORACLE_PWD=${ENV_DB_PASSWORD}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "echo 'SELECT 1;' | sqlplus -s ${ENV_DB_USER}/${ENV_DB_PASSWORD}@localhost:1521/${ENV_DB_SID} || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      demasylabs_network:
        ipv4_address: ${ENV_IP_DB_SERVER}
    deploy:
      resources:
        limits:
          cpus: "${ENV_DB_CPU_LIMIT}"
          memory: "${ENV_DB_MEMORY_LIMIT}"

  demasylabs-oracle-server:
    build:
      context: ./
      args:
        SRC_ORACLE_SQLCL: https://download.oracle.com/otn_software/java/sqldeveloper/sqlcl-latest.zip
        SRC_ORACLE_SQLPLUS: https://download.oracle.com/otn_software/linux/instantclient/2390000/instantclient-sqlplus-linux.arm64-23.9.0.25.07.zip
        SRC_ORACLE_APEX: https://download.oracle.com/otn_software/apex/apex-latest.zip
    container_name: demasy-server
    ports:
      - "${ENV_SERVER_PORT}:3000"
    depends_on:
      - demasylabs-oracle-database
    environment:
      - TZ=${ENV_TIME_ZONE}
      - DEMASYLABS_DB_CLIENT=/opt/oracle/instantclient
      - DEMASYLABS_DB_CONNECT_STRING=${ENV_IP_DB_SERVER}:${ENV_DB_PORT_LISTENER}/${ENV_DB_SERVICE}
      - DEMASYLABS_DB_HOST=${ENV_IP_DB_SERVER}
      - DEMASYLABS_DB_PORT=${ENV_DB_PORT_LISTENER}
      - DEMASYLABS_DB_SERVICE=${ENV_DB_SERVICE}
      - DEMASYLABS_DB_SID=${ENV_DB_SID}
      - DEMASYLABS_DB_USER=${ENV_DB_USER}
      - DEMASYLABS_DB_PASS=${ENV_DB_PASSWORD}
      - DEMASYLABS_DB_POOL_MIN=${ENV_DB_POOL_MIN}
      - DEMASYLABS_DB_POOL_MAX=${ENV_DB_POOL_MAX}
      - DEMASYLABS_DB_POOL_INCREMENT=${ENV_DB_POOL_INCREMENT}
    volumes:
      - demasylabs_logs:/home/oracle/logs
    restart: unless-stopped
    networks:
      demasylabs_network:
        ipv4_address: ${ENV_IP_APP_SERVER}
    deploy:
      resources:
        limits:
          cpus: "${ENV_SERVER_CPU_LIMIT}"
          memory: "${ENV_SERVER_MEMORY_LIMIT}"

networks:
  demasylabs_network:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.enable_ip_masquerade: "true"
    ipam:
      config:
        - subnet: ${ENV_NETWORK_SUBNET}
          gateway: ${ENV_NETWORK_GATEWAY}

volumes:
  demasylabs_logs:
